data
geomstats
outputs
libigl-tutorial-data
pretty_plots
selected_plots
wandb
results1

__pycache__
*.pyc
.DS_Store
.vscode
*.pdf
*.svg
*.pt
*.pkl
*.sh
*.vtk
*.vtu
*.obj
core
figs
lightning_logs

.flake8
*.egg-info
build
*.egg

# Jupyter Notebook
.ipynb_checkpoints
